<script type="text/javascript">
    RED.nodes.registerType('gladys-nlp', {
        category: 'Gladys',
        color: '#FFAAAA',
        defaults: {
            googleAuth: {
                value: "", type: "google-conn"
            },
            name: {
                value: ""
            },
            method: {
                value: "posGoogle"
            }
        },
        inputs: 1,
        outputs: 1,
        icon: "bridge-dash.png",
        align: 'left',
        label: function () {
            return this.name || "gladys-nlp";
        },
        labelStyle: function () {
            return this.name ? "" : "node_label_italic";
        }
    });
</script>

<script type="text/x-red" data-template-name="gladys-nlp">
    <div class="form-row">
        <label for="node-input-googleAuth"><i class="icon-tag"></i> Google Auth</label>
        <input type="text" id="node-input-googleAuth">
    </div>
    <div class="form-row">
        <label for="node-input-name"><i class="icon-tag"></i> Name</label>
        <input type="text" id="node-input-name" placeholder="Name">
    </div>
    <div class="form-row">
        <label for="node-input-method"><i class="icon-tag"></i> NLP method</label>
        <select id="node-input-method">
            <option value="posGoogle">POS Google</option>
            <option value="intentGoogle">Intent Google</option>
            <option value="pos">POS</option>
            <option value="tokens">Tokens</option>
            <option value="lematizer">Lematizer</option>
            <option value="intent">Intent</option>
            <option value="stemmer">Stemmer</option>
        </select>
    </div>
</script>

<script type="text/x-red" data-help-name="gladys-nlp">
    <p>TODO</p>
</script>
